body {
  font-family: @font;
  font-weight: 700;
  background: #ffffff;
  margin: 0;
  padding: 0;
}
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

@pink: #d22856;
@generalGrey: #283645;
@light-grey: #f2f2f2;

.list-style {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wall {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
// body > * {
//   background-color: rgba(200, 0, 0, 0.3);
// }
//
// body > * > * {
//   background-color: rgba(0, 255, 0, 0.3);
// }
//
// body > * > * > * {
//   background-color: rgba(0, 255, 255, 0.3);
// }
//
// body > * > * > * > * {
//   background-color: rgba(0, 0, 255, 0.3);
// }
